<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean class="com.bitlabs.springcoreci.Employee" name="emp">
 <!--  <constructor-arg>
 <value>101</value>
 </constructor-arg>
 -->
 <constructor-arg value="101" type="int"></constructor-arg>
 <constructor-arg value="sowjanya"></constructor-arg>
 </bean>
 
 
 </beans>